body {
  background-color: rgb(231, 231, 231);
  color: black;
  margin: auto;
  text-align: center;
  margin: auto;
  font-family: arial;
  height: 100vh;
}
* {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  border: 2px solid white;
}

.welcomingH1 {
  padding: 1%;
  font-weight: bold;
  color: rgba(29, 0, 0, 0.3);
}
#quoteP {
  margin: 5% auto;
  padding: 5%;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px 3px rgb(211, 211, 211);
  color: rgba(255, 255, 255, 0.8);
  font-size: large;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#authorV {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1%;
  width: fit-content;
  height: fit-content;
  margin: 3% auto;
  margin-bottom: 3%;
  font-size: large;
  color: rgba(0, 0, 0, 0.4);
}

#authorV:hover,
.welcomingH1:hover {
  background-color: rgba(211, 211, 211, 0.4);
}
button {
  background-color: rgba(24, 141, 0, 0.5);
  color: white;
  font-weight: bold;
  padding: 1%;
  transform: scale(1.2);
  font-size: large;
}

button:active {
  border: 2px solid rgba(24, 141, 0, 0.5);
  background-color: white;
  color: red;
  box-shadow: 0 0 5px 5px white;
}

#email {
  position: absolute;
  opacity: 0.15;
  right: 2px;
  bottom: 4px;
}
